<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!-- Adding tab icon -->
        <link rel="shortcut icon" href="/img/" type="image/x-icon">
    <!-- iconscout css link -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- css link -->
    <link rel="stylesheet" href="/css/pass.css">
</head>
<body>
   <div class="container">
     <div class="forms">
        <div class="form login">
          <span class="title">Code Verification</span>
         <form action="" method="get">
            <p id="message"></p>
            <div class="input-field">
                <input type="password" class="password" inputmode="numeric" maxlength="6" placeholder="Verification Code" required>
                <i class="uil uil-comment-verify"></i>
                <i class="uil uil-eye-slash showHidePw"></i>
             </div> 
        <div class="input-field button">
           <input type="button" value="Submit">
        </div> 
        </form>
        </div>
     </div>
   </div> 
   <script src="/js/pass.js"></script>
</body>
</html>