    <header class="header">
        <a href="#" class="logo"><i class="fas fa-shopping-basket"></i> gromo </a>
        <nav class="navbar">
         <a href="/home">home</a>
         <a href="/shop">shop</a>
         <a href="/">featured</a>
         <a href="/">about</a>
         <a href="/contact">contact</a>
        </nav>
        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
            <div class="fas fa-search" id="search-btn"></div>
            <a href="/cart">
                <div class="fas fa-shopping-cart" id="cart-btn"></div>
            </a>
            <a href="/signin">
                <div class="fas fa-user" id="login-btn" ></div>
            </a>
        </div>
        <form action="" class="search-form">
            <input type="search" id="search-box" placeholder="search here...">
            <label for="search-box" class="fas fa-search"></label>
        </form> 
        </div>
    </header>