<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- iconscout css link -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- css link -->
    <link rel="stylesheet" href="/css/pass.css">
</head>
<body>
   <div class="container">
     <div class="forms">
        <div class="form login">
          <span class="title">Forgot Password ?</span>
         <form action="/forgotVerify" method="get">
            <p id="message"></p>
            <div class="input-field">
               <input type="text"  placeholder="Email Address" name="Email" required>
               <i class="uil uil-envelope"></i>
            </div> 
        <div class="input-field button">
           <input type="submit" value="Continue">
        </div> 
        </form>
        </div>
     </div>
   </div> 
   <script src="/js/pass.js"></script>
</body>
</html>