<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>doc</title>
        <!-- Adding tab icon -->
        <link rel="shortcut icon" href="/img/" type="image/x-icon">
        <!-- Font awesome cdn link -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
         <!-- css link -->
       <link rel="stylesheet" href="/css/headfoot.css">
       <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <!-- header starts here -->
  <%- include('includes/header.ejs')%>
  <%-include('includes/loader.ejs')%>
   <!-- header ends here -->
   <div class="space"></div>
    <!-- Image slideshow starts -->
    <div class="slideshow-container">
      <div class="mySlides fade">
          <div class="numbertext">1 / 3</div>
          <img src="/img/adidas.jpg" >
          <div class="text">
              <span>Flash sale</span>
              <h3>upto 50% off</h3>
          </div>

      </div>
      <div class="mySlides fade">
          <div class="numbertext">2 / 3</div>
          <img src="/img/jordon.jpg" >
          <div class="text">
              <span>Flash sale</span>
              <h3>upto 30% off</h3>
          </div>
      </div>
      <div class="mySlides fade">
          <div class="numbertext">3 / 3</div>
          <img src="/img/vans.jpg">
          <div class="text">    
              <span>Flash sale</span>
              <h3>upto 60% off</h3></div>
      </div>
  </div>
  <br>
  <!-- image slideshow ends -->
  <div class="spacex"></div>
  <!-- -------------------------------------------------------------------------------------------------------------- -->

     <!-- Banner Starts -->
     <section class="banner-container">

      <div class="banner">
          <img src="/img/adidas.jpg" alt="">
          <div class="content">
              <span>limited sales</span>
              <h3>upto 50% off</h3>
              <a href="/shop" class="btn">shop now</a>
          </div>
      </div>
  
      <div class="banner">
          <img src="/img/vans.jpg" alt="">
          <div class="content">
              <span>limited sales</span>
              <h3>upto 60% off</h3>
              <a href="/shop" class="btn">shop now</a>
          </div>
      </div>
  
      <div class="banner">
          <img src="/img/jordon.jpg" alt="">
          <div class="content">
              <span>limited sales</span>
              <h3>upto 30% off</h3>
              <a href="/shop" class="btn">shop now</a>
          </div>
      </div>  
  </section>
  <!-- Banner Ends -->
  <div class="spacex"></div>
  <!-- ------------------------------------------------------------------------------------------------- -->

  <!-- image gallery -->
  <div class="gallery">
    <div class="galleryItem">
        <h1 class="galleryTitle">Be Yourself!</h1>
        <img src="https://images.pexels.com/photos/9295809/pexels-photo-9295809.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt="" class="galleryImg">
    </div>
    <div class="galleryItem">
        <img src="https://images.pexels.com/photos/1040427/pexels-photo-1040427.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt="" class="galleryImg">
        <h1 class="galleryTitle">This is the First Day of Your New Life</h1>
    </div>
    <div class="galleryItem">
        <h1 class="galleryTitle">Just Do it!</h1>
        <img src="https://images.pexels.com/photos/7856965/pexels-photo-7856965.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt="" class="galleryImg">
    </div>
</div>
<!-- image gallery ends -->

<!-- ------------------------------------------------------------------------------------------------------ -->
  <!-- new season banner starts -->
  <div class="newSeason">
      <div class="nsItem">
          <img src="https://images.pexels.com/photos/4753986/pexels-photo-4753986.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
              alt="" class="nsImg">
      </div>
      <div class="nsItem">
          <h3 class="nsTitleSm">WINTER NEW ARRIVALS</h3>
          <h1 class="nsTitle">New Season</h1>
          <h1 class="nsTitle">New Collection</h1>
          <a href="/shop">
              <button class="nsButton">CHOOSE YOUR STYLE</button>
          </a>
      </div>
      <div class="nsItem">
          <img src="https://images.pexels.com/photos/7856965/pexels-photo-7856965.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
              alt="" class="nsImg">
      </div>
  </div>
<!-- new season banner ends -->
<div class="spacex"></div>
<!-- ---------------------------------------------------------------------------------------------------------- -->

   <!-- Footer -->
   <%-include('includes/footer.ejs')%>
   <!-- Footer  -->
   <script src="/js/home.js"></script>
    <script src="/js/headfoot.js"></script>
</body>
</html>