<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signupsubmit</title>
    <!-- Adding tab icon -->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <!-- css link-->
    <link rel="stylesheet" href="/css/signupSuccess.css">
</head>
<body>

    <div class="container">
        <div class="popup">
            <img src="/img/tick.png" alt="" srcset="">
            <h2>Thank You!</h2>
            <h2><%= name %></h2>
            <p>Your details has be been successfully submitted. Thanks!</p>
           <a href="http://localhost:3000/signin">
            <button type="button">OK</button>
           </a> 
        </div>
    </div>
    
</body>
</html>