/* Google Font importing */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --orange:#ff0000;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,0.1);
    --border: .2rem solid rgba(0,0,0,0.1);
    --outline: .1rem solid rgba(0,0,0,0.1);
    --outline-hover: .2rem solid var(--black);
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
section{
    padding: 3rem 9%;
}
body{
    background: #eee;
}
p{
    z-index: 1200;
}
.header{
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}
.header .logo{
    font-size: 2.5rem;
    font-weight:bolder;
    color: var(--black);   
}
.header .logo i{
    color: var(--orange);
}
.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black)
}
.header .navbar a:hover{
    color: var(--orange);
}
.header .icons div{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: .5rem;
  background: #eee;
  color: var(--black);
  font-size: 2rem;
  margin-right: .3rem;
  cursor: pointer;
  text-align: center;
}
.header .icons #login-btn{
    height: 4.5rem;
    width: 6.0rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    cursor: pointer;
    text-align: center;
  }
.header .icons div:hover{
    background: var(--orange) ;
    color: #fff;
}
#menu-btn{
    display: none;
}
.header .search-form{
    position: absolute;
    top: 110%;right: -110%;
    max-width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow) ;
}
.header .search-form.active{
    right: 2rem;
    transition: .4s linear;
}

.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 2.5rem;
}
.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem ;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover{
    color: var(--orange);
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    color: var(--black);
    padding: 1rem 3rem;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    cursor: pointer;
    background: none;
}
.btn:hover{
    background: var(--orange);
    color:#fff;
}
.space{
    min-height:20vh ;
}
.spacex{
    min-height: 10vh;
}

/* footer css starts */
.footer{
    background: #fff; 
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box h3 i{
    color: var(--orange);
}
.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}
.footer .box-container .box a i{
    color: var(--orange);
    padding-right: .5rem;
}
.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}
.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 0rem 0rem 3rem;
}
.footer .box-container .box .share a{
    display: inline-block;
    height: 4rem;
    width: 4rem;
    line-height: 2rem;
    border-radius: .5rem;
    font-size: 2.3rem;
    color: var(--black);
    margin-left: .2rem;
    background: #eee;
    text-align: center;
}
.footer .box-container .box .share a:hover{
    font-size: 2.4rem;
    background-color: var(--orange);
    color: #fff;
    transition: .4s linear;
}
.footer .box-container .box .email{
    width: 100%;
    margin: 1rem 1rem;
    padding: 1rem;
    border-radius: .5rem;
    background: #eee;
    font-size:1.6rem;
    color: var(--black);
    text-transform: none;
}
.credit{
    font-size: small;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem; 
    padding-top: 2.5rem;
    color: var(--black);
}
.credit span{
    color: var(--orange);
}

/* footer css ends */

  /* Scroll bar effect */
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    height: 5px;
    background: #ed2d34;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  /* scroll bar end */


/* loader css starts */
.loader{
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.disppear{
  animation: vanish 1s forwards;
}
@keyframes vanish {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}
/* loader css ends */



/* media queries */
@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    .header{
        padding:2rem ;
    }
    section{
        padding: 3rem 2rem;
    }
}
@media (max-width:768px) {
    #menu-btn{
        display: inline-block;
    }
    
    .navbar{
        position: absolute;
        top: 110%;
        right:-110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }
    .actives{
        right: 2rem;
        transition: .4s linear;
    }
    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
}
@media (max-width:450px) {
    html{
        font-size: 50%;
    }
    .footer{
        text-align: center;
    }
}